.profile__name {
  grid-area: Name;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 18px 17px 4px 30px;
   /*По макету тут получается отступ снизу 16px, но когда сверяешь PixelPerfect получается что 4px  */
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
  box-sizing: border-box;
}

@media screen and (max-width: 524px) {
  .profile__name {
    font-size: 27px;
    text-align: center;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
