.place-card__like-button {
width: 20px;
height: 20px;
background: #fff url("../../../images/heart.svg") no-repeat;
background-size: contain;
border: none;
margin: 22px 20px 3px auto;
transition: transform .2s, opacity .2s;
}

.place-card__like-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.6;
}
