.profile__description {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 0 0 30px;
  padding: 0;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: Description;
}

@media screen and (max-width: 524px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 0;
  }
}
