.profile__edit-button {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin: 37px 20px auto 0;
  padding: 0;
  border: 1px solid #FFFFFF;
  background: #000 url("../../../images/pen.svg") no-repeat left 50% top 50%;
  transition: .5s;
  flex-shrink: 0;
  grid-area: Edit;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 524px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-right: 0px;
    background-size: 8px;
  }
}
