.footer {
  width: 100%;
  min-width: 280px;
  padding-bottom: 60px;
  flex-grow: 0;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 920px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 524px) {
  .footer {
    /* margin-bottom: 36px; */
    padding-bottom: 36px;
  }
}
