.header {
  max-width: 882px;
  min-width: 280px;
  min-height: 74px;
  /* Верхний марджин схлопывается */
  padding-top: 45px;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 922px) {
  .header {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 524px) {
  .header {
    padding-top: 28px;
    margin: 0px auto 38px;
    min-height: 54px;
  }
}
